<!-- <div [formGroup]="newTodo">
  <input type="text"
         formControlName="title">
  <button (click)="onAddingTodo()">Add Todo</button>
</div> -->
<div>
  <input type="text"
         [(ngModel)]="newTodo.title">
  <button (click)="onAddingTodo()">Add Todo</button>
  <span *ngIf="loading"><img width="20px" src="https://www.ascensiongamedev.com/uploads/monthly_2017_06/loader.thumb.gif.d3adbbe2d68f5e2d2f0f5c3ed0e94564.gif"></span>
</div>
<ul>
  <li *ngFor="let t of todos">
    <app-todo [todo]="t"></app-todo>
  </li>
</ul>


<!-- <input type="text"
       [value]="test"> -->

<!-- <input type="text"
       [(ngModel)]="test">
<h2>{{test}}</h2> -->
